.Button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.Button-primary {
  background-color: blue;
}

.Button-secondary {
  background-color: gray;
}

.Button-warning {
  background-color: orange;
}

.Button-danger {
  background-color: red;
}

